<!--  FOOTER AREA START -->
<footer class="footer-area">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h4 class="widget-title">Address</h4>
            <div class="footer-contact">
              <ul>
                <li>
                  <i class="fa fa-home"></i>
                  <span>265 6th Avenue, 5th Floor,
                    <br> New York, NY 10001</span>
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  <span>+1 200 123 4567</span>
                </li>
                <li>
                  <i class="fa fa-envelope-o"></i>
                  <span>info@yourcompany.com</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h4 class="widget-title">Links</h4>
            <div class="footer-help">
              <ul>
                <li>
                  <a href="#">Our donors</a>
                </li>
                <li>
                  <a href="#">Events</a>
                </li>
                <li>
                  <a href="#">Forums</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Press release</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h4 class="widget-title">Our Pages</h4>
            <div class="footer-page">
              <ul>
                <li>
                  <a href="#">About us</a>
                </li>
                <li>
                  <a href="#">Lastest news</a>
                </li>
                <li>
                  <a href="#">Privacy policy</a>
                </li>
                <li>
                  <a href="#">Terms and conditions</a>
                </li>
                <li>
                  <a href="#">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h4 class="widget-title">Subscribe Newsletter</h4>
            <p>Get the latest update from us by subscribing to our newsletter.</p>
            <form action="#">
              <div class="nletter-box">
                <input type="email" placeholder="Write your mail">
                <button>
                  <i class="fa fa-paper-plane"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© Pureheart 2017 | All rights reserved | Designed by DotThemes</p>
  </div>
</footer>
<!--  FOOTER AREA END -->