---
layout: default
---

<!-- SLIDER AREA START -->
<div id="slider-area" class="owl-carousel owl-theme">
  <!-- Single Slide Start -->
  <div class="single-slide overly">
    <img src="images/slider/slide2.jpg" alt="">
    <div class="slide-txt">
      <h2>GIVE THEM HOPE</h2>
      <p>We want to see Always smilling face Of charity people.
        <span>Do you want?</span> Join our team as a donnor</p>
      <a href="#" class="btn-filled">join with us</a>
    </div>
  </div>
  <!-- Single Slide Start -->
  <div class="single-slide overly">
    <img src="images/slider/slide1.jpg" alt="">
    <div class="slide-txt">
      <h2>Need Help for Charity</h2>
      <p>We want to see Always smilling face Of charity people.
        <span>Do you want?</span> Join our team as a donnor</p>
      <a href="#" class="btn-filled">join with us</a>
    </div>
  </div>
  <!-- Single Slide Start -->
  <div class="single-slide overly">
    <img src="images/slider/slide3.jpg" alt="">
    <div class="slide-txt">
      <h2>Need Help for Charity</h2>
      <p>We want to see Always smilling face Of charity people.
        <span>Do you want?</span> Join our team as a donnor</p>
      <a href="#" class="btn-filled">join with us</a>
    </div>
  </div>
</div>
<!-- SLIDER AREA END -->

<!--  ABOUT AREA START -->
<section class="about-area about-4" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectino-intro">
          <h2 class="section-heading">about-us</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.</p>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-4 col-sm-4">
        <div class="about-single">
          <img src="images/about1.jpg" alt="">
          <div class="about-detail">
            <h4>A Few Words About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-4 col-sm-4">
        <div class="about-single">
          <img src="images/about2.jpg" alt="">
          <div class="about-detail">
            <h4>Our Mission</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-4 col-sm-4">
        <div class="about-single">
          <img src="images/about3.jpg" alt="">
          <div class="about-detail">
            <h4>Our History</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  ABOUT AREA END -->

<!--  OUR CAUSES AREA START -->
<div class="our-causes-area grey-bg section-padding" id="causes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectino-intro">
          <h2 class="section-heading">our causes</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.</p>
        </div>
      </div>
      <!-- Single Cause -->
      <div class="col-md-3 col-sm-6">
        <div class="cause-single">
          <img src="images/cause1.jpg" alt="">
          <div class="cause-details">
            <h4>Homeless People</h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth Por scientie, musica, litot.</p>
            <a href="#" class="custom-btn">Donate Now</a>
          </div>
        </div>
      </div>
      <!-- Single Cause -->
      <div class="col-md-3 col-sm-6">
        <div class="cause-single">
          <img src="images/cause2.jpg" alt="">
          <div class="cause-details">
            <h4>Feeding The Hungry</h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth Por scientie, musica, litot.</p>
            <a href="#" class="custom-btn">Donate Now</a>
          </div>
        </div>
      </div>
      <!-- Single Cause -->
      <div class="col-md-3 col-sm-6">
        <div class="cause-single">
          <img src="images/cause3.jpg" alt="">
          <div class="cause-details">
            <h4>Clean Drinking Water</h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth Por scientie, musica, litot.</p>
            <a href="#" class="custom-btn">Donate Now</a>
          </div>
        </div>
      </div>
      <!-- Single Cause -->
      <div class="col-md-3 col-sm-6">
        <div class="cause-single">
          <img src="images/cause4.jpg" alt="">
          <div class="cause-details">
            <h4>Child Education</h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth Por scientie, musica, litot.</p>
            <a href="#" class="custom-btn">Donate Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  OUR CAUSES AREA END -->

<!--  OUR SERVICE AREA START -->
<div class="service-area" id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectino-intro">
          <h2 class="section-heading">our services</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.</p>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-md-4 col-sm-6">
        <div class="service-single">
          <span class="service-icon">
            <i class="fa fa-connectdevelop"></i>
          </span>
          <div class="service-details">
            <h4>Mediation</h4>
            <p>Laculis ullamcorper at est. Curabitur sagittis dignissim espam nibh quis dictum. vehicula sit amet vestibulum
              congue. Morbi non.</p>
          </div>

        </div>
      </div>
      <!-- Single Service -->
      <div class="col-md-4 col-sm-6">
        <div class="service-single">
          <span class="service-icon">
            <i class="fa fa-building-o"></i>
          </span>
          <div class="service-details">
            <h4>Building Schools</h4>
            <p>Laculis ullamcorper at est. Curabitur sagittis dignissim espam nibh quis dictum. vehicula sit amet vestibulum
              congue. Morbi non.</p>
          </div>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-md-4 col-sm-6">
        <div class="service-single">
          <span class="service-icon">
            <i class="fa fa-hand-pointer-o"></i>
          </span>
          <div class="service-details">
            <h4>Volunteering</h4>
            <p>Laculis ullamcorper at est. Curabitur sagittis dignissim espam nibh quis dictum. vehicula sit amet vestibulum
              congue. Morbi non.</p>
          </div>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-md-4 col-sm-6">
        <div class="service-single">
          <span class="service-icon">
            <i class="fa fa-align-justify"></i>
          </span>
          <div class="service-details">
            <h4>Relief</h4>
            <p>Laculis ullamcorper at est. Curabitur sagittis dignissim espam nibh quis dictum. vehicula sit amet vestibulum
              congue. Morbi non.</p>
          </div>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-md-4 col-sm-6">
        <div class="service-single">
          <span class="service-icon">
            <i class="fa fa-home"></i>
          </span>
          <div class="service-details">
            <h4>Building Home</h4>
            <p>Laculis ullamcorper at est. Curabitur sagittis dignissim espam nibh quis dictum. vehicula sit amet vestibulum
              congue. Morbi non.</p>
          </div>
        </div>
      </div>
      <!-- Single Service -->
      <div class="col-md-4 col-sm-6">
        <div class="service-single">
          <span class="service-icon">
            <i class="fa fa-ambulance"></i>
          </span>
          <div class="service-details">
            <h4>Medical Hospital</h4>
            <p>Laculis ullamcorper at est. Curabitur sagittis dignissim espam nibh quis dictum. vehicula sit amet vestibulum
              congue. Morbi non.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  OUR SERVICE AREA END -->

<!--  OUR GALLERY AREA END -->
<div class="gallery-area grey-bg" id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectino-intro">
          <h2 class="section-heading">OUR gallery</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque.</p>
        </div>
        <div class="gallery-menu">
          <ul>
            <li class="active" data-filter="*">
              <a href="#">All</a>
            </li>
            <li data-filter=".cat1">
              <a href="#">Charity</a>
            </li>
            <li data-filter=".cat2">
              <a href="#">Children</a>
            </li>
            <li data-filter=".cat3">
              <a href="#">Nature</a>
            </li>
            <li data-filter=".cat4">
              <a href="#">Food</a>
            </li>
          </ul>
        </div>
        <div class="gallery-grid">
          <!-- Single Gallery -->
          <div class="single-gallery cat1 cat2">
            <img src="images/gallery/gl1.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl1.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat1 cat3">
            <img src="images/gallery/gl2.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl2.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat1 cat4">
            <img src="images/gallery/gl3.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl3.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat4">
            <img src="images/gallery/gl4.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl4.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat4 cat1">
            <img src="images/gallery/gl8.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl8.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat3 cat4">
            <img src="images/gallery/gl5.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl5.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat3 cat2">
            <img src="images/gallery/gl6.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl6.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- Single Gallery -->
          <div class="single-gallery cat3 cat1">
            <img src="images/gallery/gl7.jpg" alt="">
            <div class="image-overly">
              <a class="pretty" href="images/gl7.jpg">
                <span>
                  <i class="fa fa-eye"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  OUR GALLERY AREA END -->

<!-- PURE FUN AREA START -->
<section class="pure-fun-area gr-fun hr-fun">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="p-fun-wrap">
          <div class="single-fun">
            <i class="fa fa-heart"></i>
            <h5>donate heart</h5>
            <span class="counter">6850</span>
          </div>
          <div class="single-fun">
            <i class="fa fa-users"></i>
            <h5>save life</h5>
            <span class="counter">1556</span>
          </div>
          <div class="single-fun">
            <i class="fa fa-home"></i>
            <h5>donate houses</h5>
            <span class="counter">6445</span>
          </div>
          <div class="single-fun">
            <i class="fa fa-money"></i>
            <h5>donate money</h5>
            <span class="counter">12000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PURE FUN AREA END -->

<!--  GOOGLE MAP AREA START -->
<div id="googlemap"></div>
<!--  GOOGLE MAP AREA END -->